*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ddd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

.header-container{
    background-color: #6cd715;
    position: absolute;
    width: 100%;
    height: 20%;
    text-align: center;
}

.logo{
    position: relative;
    margin: 0.8%;
    color: #fff;
    font-size: 25px;
}

.logo span{
    color: #000;
}

.navbar-container{
    position: relative;
    background-color: transparent;
    text-align: center;
}

.navbar-container a{
    border-radius: 10px;
    padding: 5px;
    margin-right: 70px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.navbar-container a:hover{
    border-radius: 20px;
    background-color: #fff;
    color:#6cd715;
    transition: all 0.6s;
}

/*Container dos Posts*/
.primary-content{
    position: absolute;
    background-color: transparent;
    margin: 10px;
    width: 80%;
    height: 230%;
    padding: 20px;
    top: 110px;
    left: 180px;
    bottom: 100px;
}

.primary-content h1{
    font-size: 20px;
    color: #000;
}

.primary-content hr{
    margin-top: 13px;
    margin-bottom: 15px;
}

.primary-content span{
    color: #6cd715;
}

.primary-content a{
    color: #6cd715;
    text-decoration: none;
}

.primary-content img{
    position: relative;
    width: 100%;
}

.primary-content p{
    font-size: 16px;
}

/*Primeiro Post*/
.first{
    background-color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 10px;
}

/*Segundo Post*/
.second{
    background-color: #fff;
    width: 70%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

/*Posts Recentes*/
.newest-posts{
    position: relative;
    background-color: #000;
    width: 10%; 
}