*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}

/*Cabeçalho*/
.top-container{
    background-image: url(img/fundo.png);
    position: absolute;
    width: 100%;
    height: 23%;    
}

#logo{
    position: relative;
    top: 25px;
    left: 100px;
}

/*Barra de navegação do cabeçalho*/
.navbar-container{
    background-color: transparent;
    position: relative;
    left: 45%;
}

.navbar-container a{
    padding-right: 15px;
    text-decoration: none;
    color: #9F6F1F;
    font-weight: 550;
    font-size: 14px;
}

/*Conteúdos sobre o museu*/
.content-container{
    position: absolute;
    background-color: transparent;
    width: 82%;
    top: 70px;
    left: 100px;
    display: flex;
    letter-spacing: -1px;
}

/*Conteúdo disposto ao lado esquerdo*/
.left-container{
    background-color: transparent;
    width: 65%;
    height: 100%;
    float: left;
    color: #4C8B40;
    display: flex;
    flex-wrap: wrap;
}

#fotomuseu{
    height: 320px;
    width: 710px;
    border-radius: 5px;
}

/*Box com info do Vídeo*/
.video-container{
    background-color: transparent;
    position: relative;
    margin: 20px;
    width: 44%;
    height: 170px;
}

.video-container h5{
    margin-bottom: 15px;
}

.video-container iframe{
    width: 100%;
    height: 100%;
}

/*Box com info do Mapa*/
.maps-container{
    background-color: transparent;
    position: relative;
    margin: 20px;
    width: 44%;
    height: 170px;
}

.maps-container h5{
    margin-bottom: 15px;
}

.maps-container iframe{
    width: 100%;
    height: 100%;
}

/*Box com info das Exposições*/
.exposicoes-container{
    background-color: transparent;
    position: relative;
    margin-left: 20px;
    margin-top: 50px;
    width: 44%;
    height: 19%;

}

/*Personalização dos títulos Exposiçõe/Anos de História*/
.exposicoes-container h5, .anosdehistoria-container h5{
    margin-bottom: 20px;
    font-weight: 600;
}

.exposicoes-container li{
    position: relative;
    left: 25px;
    margin-top: 3px;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.exposicoes-container span{
    color: #9F6F1F;
    font-weight: 400;
    letter-spacing: 0px;
}

.exposicoes-container a{
    text-decoration: none;
    color: #9F6F1F;
    font-weight: 500;
}

.anosdehistoria-container{
    background-color: transparent;
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    width: 44%;
    height: 19%;
}

.anosdehistoria-container p{
    color: #000;
    font-size: 13px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.anosdehistoria-container a{
    text-decoration: none;
    color: #9F6F1F;
    font-size: 14px;
    font-weight: bold;
}