*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #6eb8b1, #83b3b4, #83b3b4, #6eb8b1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin: 1%;
    justify-content: center;
}

.container{
    background-color: #fff;
    position: absolute;
    width: 40%;
    height: 95%;
    border-radius: 80px;
    box-shadow: 0 0 5px rgb(0, 0, 0.15);
}

.id-container{
    background-color: #00b3ff;
    position: absolute;
    border-radius: 80px 0 0 80px;
    width: 30%;
    height: 100%;
    text-align: center;
    box-shadow: 5px 0 10px rgb(0, 0, 0.05, 0.6);
}

.id-container h1{
    margin: 10%;
}

.id-container img{
    background-color: #fff;
    width: 80%;
    border-radius: 10%;
    box-shadow: 0 0 5px rgb(0, 0, 0.15);
}

.id-container li{
    list-style-type: none;
    margin: 5%;
    font-weight: 600;
}

.graduation-container{
    background-color: transparent;
    width: 70%;
    height: 30%;
    position: relative;
    border-radius: 0 80px 0 0;
    left: 30%;
    text-align: center;
    padding: 4%;
}

.graduation-container li{
    list-style-type: none;
    margin: 1%;
}

hr{
    position: relative;
    left: 35%;
    width: 60%;
}

.skills-container{
    background-color: transparent;
    width: 70%;
    height: 30%;
    position: relative;
    left: 30%;
    text-align: center;
    padding: 4%;
}

.skills-container li{
    list-style-type: none;
    margin: 1%;
}

.experience-container{
    background-color: transparent;
    width: 70%;
    height: 30%;
    position: relative;
    left: 30%;
    text-align: center;
    padding: 4%;
}

.experience-container li{
    list-style-type: none;
    margin: 1%;
}