* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/loginBg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Monserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    position: absolute;
    box-shadow: 0 0 10px rgb(0, 0, 10, 0.7);
    border-radius: 3rem;
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    display: flex;
    justify-content: center;
}

#logo{
    width: 8rem;
    margin-top: -4rem;
}

/*GENERAL CONFIGS*/
form{
    display: flex;
    flex-direction: column;
    width: 20em;
    gap: 1.5em;
}

input{
    border: none;
    border-radius: 0.8em;
    padding: 0.3em;
    font-size: 1.3em;
    font-weight: 600;
    transition: all 0.4s;
}

::placeholder{
    padding: 0.3em;
    opacity: 0.6;
    font-weight: 600;
}


h1{
    margin-bottom: 1em;
    font-size: 2.5em;
}

.forgot-password{
    margin-top: 2em;
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
}

.forgot-password:hover{
    text-decoration: underline;
}

.btn{
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(0, 0, 1, 0.2);
    text-decoration: none;
    text-align: center;
    width: 12em;
    height: 2em;
    padding-top: 0.4em;
    color: #fff;
    font-weight: 600;
    font-size: 1.6em;
    text-shadow: 0 0 5px rgb(0, 0, 1, 0.2);
    margin-top: 2em;
    transition: all 0.2s;
}

/*REGISTER - Container*/
.left-container {
    background-color: rgba(46, 46, 46, 0.8);
    border-radius: 3rem 0 0 3rem; 
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-container h1{
    color: #ffde59;
}

.register-container input:hover{
    background-color: #ffde59;
    color: #2d2d2d;
    font-weight: 600;
}

.register-btn:hover{
    background: linear-gradient(50deg, #2d2d2d, #ffde59);
    border: 4px solid #ffde59;
    padding-top: 0.2em;
    color: #ffde59;
    text-shadow: none;
    transition: all 0.4s;
}

/*LOGIN - Container*/
.right-container {
    background-color: rgba(255, 222, 89, 0.8);
    border-radius: 0 3rem 3rem 0; 
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right-container h1{
    color: #2d2d2d;
}

.login-container input:hover{
    background-color: #2d2d2d;
    color: #fff;
    font-weight: 600;
}

.login-btn:hover{
    background: linear-gradient(50deg, #ffde59, #2d2d2d);
    border: 4px solid #2d2d2d;
    padding-top: 0.2em;
    color: #2d2d2d;
    text-shadow: none;
    transition: all 0.4s;
}