* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Monserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    position: absolute;
    box-shadow: 0 0 10px rgb(0, 0, 10, 0.7);
    border-radius: 3rem;
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    display: flex;
}

/*GENERAL CONFIGS*/
form{
    display: flex;
    flex-direction: column;
    width: 20em;
    gap: 1em;
}

input{
    border: none;
    border-radius: 0.8em;
    padding: 0.3em;
    font-size: 1em;
}

::placeholder{
    padding: 0.3em;
    opacity: 0.6;
}


h1{
    margin-bottom: 1em
}

.forgot-password{
    margin-top: 3em;
    text-decoration: none;
    color: #000;
    font-size: 0.85em;
}

.forgot-password:hover{
    text-decoration: underline;
}

.btn{
    background-color: #ffde59;
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(0, 0, 1, 0.2);
    text-decoration: none;
    text-align: center;
    width: 12em;
    height: 2em;
    padding-top: 0.4em;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 5px rgb(0, 0, 1, 0.2);
    margin-top: 2em;
}

/*REGISTER - Container*/
.left-container {
    background-color: #ddd;
    border-radius: 3rem 0 0 3rem; 
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}





/*LOGIN - Container*/
.right-container {
    background-color: #ffde59;
    border-radius: 0 3rem 3rem 0;
    width: 50%;
    padding: 5%;
}